.header {
  background-color: #f7f2b4;
  height: 90px;
}
.hiruiya{
 writing-mode:vertical-rl;
 -ms-writing-mode: tb-rl;
 color:#000000;
 background-color:#98fb98;
 height500px
 font-size:50px;
}
.kyarakuta-{
 font-size:30;
 color:#000000;
}
